

.btn {
  padding: 0.6rem 0.8rem;
  font-size: 13px;
  text-align: center;
  border: 0;
  outline: none;
  border-radius: 10px;
  width: 150px;
  margin-left: 10px;
  cursor: pointer;
  color: var(--tg-theme-button-text-color);
  background-color: var(--tg-theme-button-color);
  border: 1px solid #ddd;
}

.btn.add {
  background-color: var(--tg-theme-button-color);
}

.btn.remove {
  background-color: tomato;
}

.btn.checkout {
  background-color: rgb(38, 121, 38);
  width: 150px;
  color: #fff;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn.add:hover {
  background-color: rgba(var(--tg-theme-button-color), 0.9);
  color: black;
}

.btn.add:active {
  background-color: rgba(var(--tg-theme-button-color), 0.7);
  color: black;
}
  

.btn.remove:hover {
  background-color: rgba(var(--tg-theme-button-color), 0.9);
  color: black;
}
.btn.remove:active {
  background-color: rgba(var(--tg-theme-button-color), 0.7);
  color: black;
}

.btn.checkout:hover {
  background-color: rgba(var(--tg-theme-button-color), 0.9);
  color: black;
}
.btn.checkout:active {
  background-color: rgba(var(--tg-theme-button-color), 0.7);
  color: black;
}
