body{
  color: black;
  background-color: var(--tg-color-scheme);
  height: var(--tg-viewport-height);

}
h1{
  color: var(--tg-theme-bg-color);
}
button{
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  text-align: center;
}